:root {
  --color-bg: hsl(0, 0%, 5%);
  --color-bg-light: hsl(0, 0%, 10%);
  --color-text: hsl(0, 0%, 100%);
}

* {
  font-family: var(--font-fira-code);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}
